
    .infobox{
      margin-left: 10px;
      margin-right: 10px;
      display: flex!important;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border: 2px solid #629765;
      background-color: #ecf8ee;
      height: auto;
      max-width: fit-content!important;
      width: 100%!important;
    }

    .icon_container{
      max-width: 35px; /* Restricts icon width */
      display: flex;
      align-items: center;
    }
.text_container{
    flex: 1; 
}
    /* Filters */
    .d-flex {
      flex-wrap: wrap; /* Enable wrapping to the next row */
      gap: 8px; 
    }
    
    .filter_buttons {
    min-width: 80px; /* Ensure a minimum width for the buttons */
    padding: 1px 15px; /* Adjust padding for better touch targets */
    outline: none;
    border: none;
    min-width: 70px!important;
    border-radius: 10px;
    opacity: 90%;
    transition: ease-in-out 0.4s;
    background-color: #ecf8ee;
  }

  .filter_buttons:hover {
    background-color: #629765;
    color: white;
    opacity: 80%;
  }
  .active_button:hover {
    opacity: 100%;
  }
  .active_button {
    background-color: #629765;
    color: white;
    opacity: 100%;
  }


  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%!important;
    max-width: 500px!important; /* Matches input max-width */
}

.searchbar {
    outline: none;
    border: none;
    background: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 40px 10px 10px; 
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #629765;
    font-size: 16px;
}

.searchbar:hover {
  background-color: #ecf8ee;
}

.search-container .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #629765;
    pointer-events: none; 
}

.reference_number{
  font-size: 12px;
  color: grey;
}

/* Pagination */

.page-link {
  color: #629765!important;
  border: 1px solid #629765!important;
  cursor: pointer;
}
.pl_previous{
  border-radius: 5px 0 0 5px!important;
}
.pl_next {
  border-radius: 0 5px 5px 0!important;
}









  
