

    /* Filters */
    .d-flex {
      flex-wrap: wrap; /* Enable wrapping to the next row */
      gap: 8px; 
    }
    
  .dropdown-toggle {
    background-color: #629765!important;
    color: white!important;
    min-width: 100px;
    padding: 5px!important;
    position: relative;
    top: 8px;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%!important;
    max-width: 500px!important; /* Matches input max-width */
}

.searchbar {
    outline: none;
    border: none;
    background: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 40px 10px 10px; 
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #629765;
    font-size: 16px;
}

.searchbar:hover {
  background-color: #ecf8ee;
}

.search-container .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #629765;
    pointer-events: none; 
}


/*Datepicker*/
.custom-datepicker {
  outline: none;
  font-family: arial;
  border: none;
  border-bottom: 2px solid #629765;
  font-size: 16px;
  padding: 5px;
  color: grey;
}

.custom-datepicker:hover {
  background-color: #ecf8ee;
}

@media screen and (max-width: 991px) {
  .custom-datepicker{
    position: relative;
    top: 7px;
  }
  
}

.accordion-text{
  font-size: 14px;
}

/* Cards*/
.qa {
  max-width: 1000px!important;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.question p, .answer span{
  font-size: 14px;
}
.question p:hover {
  cursor: pointer!important;
  text-decoration: underline;
}
.question h6:hover{
  cursor: pointer
}
.category, .reference_number {
  color: grey;
  font-size: 12px;
}


/* Pagination */

.page-link {
  color: #629765!important;
  border: 1px solid #629765!important;
  cursor: pointer;
}
.pl_previous{
  border-radius: 5px 0 0 5px!important;
}
.pl_next {
  border-radius: 0 5px 5px 0!important;
}
