/* Banner */

.Banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Media/bannerLectures.png);

  padding-bottom: 80px;
}

.bannerHeader {
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -50px;
}

.bannerImage {
  width: 300px;
  height: 300px;

}


/* Banner  Responsive*/

@media screen and (max-width: 575px) {
  .Banner {
    background-image: url(../Media/mobileBannerLectures.png);
    padding-bottom: 20px;
    padding-top: 0;
  }

  .bannerHeader {
    font-size: 1.3em;
  }

  .bannerImage {
    width: 250px;
    height: 250px;
  }
}


/* Banner Parallax effect*/
@media screen and (min-width: 991px) {
  .Banner {
    background-attachment: fixed;
  }
}

/* Banner Animation*/


.bannerHeader {
  animation: fadeInLeft 2s both;
}

.bannerImage {
  animation: fadeInRight 2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Lectures*/

.lectureHeader {
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 10px solid #629765;
  padding-left: 5px;
  margin-bottom: 30px;

}

/* Cards*/



.lectureCard{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: box-shadow 0.6s, transform 1s, opacity 1s;
  transform: translateY(50px);
  opacity: 0;
}


.lecButton {
  color: white;
  transition: 0.6s;
  outline: none;
  border: none;
  background-color: #629765;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
}

.lecButton:hover {
  background-color: white;
  color: #629765;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Animation Cards*/
.cardAnimation {
  animation: fadeInRightcard 1s both;
}


@keyframes fadeInRightcard {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Responsive Card*/

@media screen and (min-width: 768px) {

  .lectureCard:hover,
  .lectureCardSecond:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}


@media screen and (max-width: 575px) {

  .cardImageOne {
    background-image: url(../Media/maktubat.jpg);
  }
  .cardImageTwo {
    background-image: url(../Media/Makkah.jpg);
  }
  .cardImageThree {
    background-image: url(../Media/Verticalimg.jpg);
  }
  .cardImageFour {
    background-image: url(../Media/masjidnabawwi.jpg);
  }

  .lectureCard,
  .lectureCardSecond, .lectureCardThird, .lectureCardFourth {
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .cardImageOne,
  .cardImageTwo, .cardImageThree, .cardImageFour {
    height: 125px;
    width: 100%;
  }

}


/* Lectures */

.lectureHeaderlec {
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 5px solid #629765;
  padding-left: 5px;
  margin-top: 50px;
}


.descriptionLec {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Media/natureBackLec.png);
  width: 100%;



  color: white;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lineLec {
  border-bottom: 1px solid #d5d4b0;
  width: 100px;
}


.registerButton {
  color: white;
  transition: 0.6s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  outline: none;
  border: none;
  background-color: #629765;
}

.registerButton:hover {
  background-color: white;
  color: #629765;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* General Talks Cards*/

.d-flex{
  flex-wrap: wrap; /* Enable wrapping to the next row */
  gap: 30px; 
}

.talksSection a{
  text-decoration: none;
}
.cards{
  transition: transform 0.6s;
}

.cards:hover{
  transform: scale(1.05);
}

.cardsImg {
  height: 250px;
}

.cardsHeader {
  height: 50px;
}

/* Recordings*/

.accordion {
  border: 1px solid black !important;
}

.accordion button {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;

}


/* Responsive Lecture */

@media screen and (min-width: 991px) {
  .descriptionLec {
    background-attachment: fixed;
  }
}
