
Body {
    margin: 0important;
    padding: 0important;
    overflow-x: hidden!important;
  }
  
  /* Navbar */
    .NavHeader {
      font-family: Arial;
      font-weight: bold;
      letter-spacing: 1px;
    }
  
    .Navpages {
      font-family: georgia;
  
    }
  
    .Naviglogo {
      max-width: 80px;
      max-height: 80px;
      padding-top: 5px;
    }
  
    .Navig {
      background-color: #629765;
    }
  
    /* NavHover */
    .Navpages{
      text-decoration: none;
      color: white;
      display: inline-block;
      position: relative;
    }
    
    .Navpages:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      background-color: #d5d4b0;
      transition: transform 0.45s ease-out;
    }
    
    .Navpages:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  /* Responsive NavHover */
    @media screen and (max-width: 991px){
      .Navpages:after {
          content: '';
          position: absolute;
          width: 11%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          transform-origin: bottom right;
          background-color: #d5d4b0;
          transition: transform 0.45s ease-out;
        }
        
    }
  
    @media screen and (max-width: 767px){
      .Navpages:after {
          content: '';
          position: absolute;
          width: 18%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          transform-origin: bottom right;
          background-color: #d5d4b0;
          transition: transform 0.45s ease-out;
        }
        
    }
  
    @media screen and (max-width: 575px){
      .Navpages:after {
          content: '';
          position: absolute;
          width: 20%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          transform-origin: bottom right;
          background-color: #d5d4b0;
          transition: transform 0.45s ease-out;
        }
        
    }
  /* Icons */
  .nav-item .nav-link .icon {
      display: none; /* Hide icons by default */
      position: relative;
      top: 4px;
  }
  @media (max-width: 991.98px) {
      .nav-item .nav-link .icon {
          display: inline-block; /* Show icons on screens smaller than 992px */
      }
  }

/* Mixlr */

.mixlr{
height: 80vh;
width: 100%;
margin: 0;
width: 100%;
border: none; 
outline: none;
}

/* Information */

.LASHeader{
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 5px solid #629765;
  padding-left: 5px;
}


.accordion {
  border: 1px solid black!important;
 
}

.accordion button {
   font-family: Arial;
   font-size: 0.7em;
   font-weight: bold;
 
}

 /* Footer*/

.Footer{
    background-color: #629765;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: georgia;
  }
  
  .NavLinkFooter {
    color: white;
    text-decoration: none;
    transition: 0.7s;
  }
  
  .NavLinkFooter:hover {
    color: #d5d4b0;
    opacity: 0.8;
  }
  
  .whatsAppLogo {
    margin-right: 7px;
  height: 20px;
  width: 20px;
  border-radius: 40%;
  }
  
  
  .mixlrLogo, .gmailLogo {
    margin-right: 7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
  }
  
  .contactFooter {
    color: white;
    text-decoration: none;
    transition: 0.7s;
  }
  
  .contactFooter:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
  
  .copyright {
    font-size: 0.7em;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 575px) {
  
    .contactFooterDiv {
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 575px) {
  
    .contactFooterDiv {
      margin-top: 30px;
    }
  }
  
  