/* Information */

.LASHeader {
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 5px solid #629765;
  padding-left: 5px;
}


.accordion {
  border: 1px solid black !important;

}

.accordion button {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;

}
